{% extends "ebilling/base.html" %}
{% load i18n %}
{% block title %} {% trans "G-Billing" %} | {% trans "Back Up & Restore" %} {% endblock title %}



{% block content %}



<!--wrapper-->
<div class="wrapper">
   <!--sidebar wrapper -->
   {% include "ebilling/Sidebar.html" %}
   <!--end sidebar wrapper -->
   <!--start header -->
   {% include "ebilling/Header.html" %}
   <!--end header -->
   <!--start page wrapper -->


   <div class="page-wrapper">
    <div class="page-content">

       <!--breadcrumb-->
       <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3">{% trans "Home" %}</div>
          <div class="ps-3">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                   <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                   </li>
                   <li class="breadcrumb-item active" aria-current="page">{% trans "Back Up & Restore" %}</li>
                </ol> 
             </nav>
          </div>
          <div class="ms-auto">


        



         
          </div>
       </div>
       <!--end breadcrumb-->


       <h6 class="mb-0 text-uppercase">{% trans "Back Up & Restore" %}</h6>
       <hr>
    

       <div class="card">
          <div class="card-body">
           <div class="row">
            <div class="col">
                {% trans "Generate Backup" %} <br>
                <a href="?download_backup=True" class="btn btn-light my-2" target="_blank">{% trans "Export Backup" %}</a>
            </div>
            <div class="col">
                {% trans "Restore Backup" %}
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <input name="backUpFile" type="file" class="my-2" accept=".sbu" required> <br>
                     <button class="btn btn-light my-1" target="_blank">{% trans "Restore Backup" %}</button>

                </form>
            </div>
           </div>
          </div>
       </div>


    </div>
 </div>
   <!--end page wrapper -->
   <!--start overlay-->
   <div class="overlay toggle-icon"></div>
   <!--end overlay-->
   <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
   <!--End Back To Top Button-->
   {% include "ebilling/Footer.html" %}
</div>
<!--end wrapper-->
<!--start switcher-->
{% include "ebilling/Switcher.html" %}
<!--end switcher-->
<!-- Bootstrap JS -->


{% endblock content %}