<script src="/static/ebilling/js/bootstrap.bundle.min.js"></script>
<script src="/static/ebilling/js/jquery.min.js"></script>


<!-- Alertify JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
        {% for msg in messages %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.{{ msg.tags }}('{{msg}}');
        {% endfor %}
</script>



<!--plugins-->
<!--plugins-->

<script src="/static/ebilling/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/static/ebilling/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/static/ebilling/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/static/ebilling/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/ebilling/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>




<script src="/static/ebilling/plugins/highcharts/js/highcharts.js"></script>
<script src="/static/ebilling/plugins/highcharts/js/exporting.js"></script>
<script src="/static/ebilling/plugins/highcharts/js/variable-pie.js"></script>
<script src="/static/ebilling/plugins/highcharts/js/export-data.js"></script>
<script src="/static/ebilling/plugins/highcharts/js/accessibility.js"></script>
<script src="/static/ebilling/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
<script src="/static/ebilling/js/dashboard-sales.js"></script>
<!--app JS-->
<script src="/static/ebilling/js/app.js"></script>
<script>
	new PerfectScrollbar('.customers-list');
	new PerfectScrollbar('.store-metrics');
	new PerfectScrollbar('.product-list-2');
</script>


<!-- 


<script src="/static/ebilling/plugins/datetimepicker/js/legacy.js"></script>
<script src="/static/ebilling/plugins/datetimepicker/js/picker.js"></script>
<script src="/static/ebilling/plugins/datetimepicker/js/picker.time.js"></script>
<script src="/static/ebilling/plugins/datetimepicker/js/picker.date.js"></script>
<script src="/static/ebilling/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>
<script
	src="/static/ebilling/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>
<script>
	$('.datepicker').pickadate({
		selectMonths: true,
		selectYears: true
	}),
		$('.timepicker').pickatime()
</script>
<script>
	$(function () {
		$('#date-time').bootstrapMaterialDatePicker({
			format: 'YYYY-MM-DD HH:mm'
		});
		$('#date').bootstrapMaterialDatePicker({
			time: false
		});
		$('#time').bootstrapMaterialDatePicker({
			date: false,
			format: 'HH:mm'
		});
	});
</script> -->