{% extends "ebilling/base.html" %}
{% load i18n %}
{% block title %} {% trans "G-Billing" %} | {% trans "Search & Manage Expenses" %} {% endblock title %}
{% block content %}



<!--wrapper-->
<div class="wrapper">
   <!--sidebar wrapper -->
   {% include "ebilling/Sidebar.html" %}
   <!--end sidebar wrapper -->
   <!--start header -->
   {% include "ebilling/Header.html" %}
   <!--end header -->
   <!--start page wrapper -->
   <div class="page-wrapper">
      <div class="page-content">

         <!--breadcrumb-->
         <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">{% trans "Home" %}</div>
            <div class="ps-3">
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                     </li>
                     <li class="breadcrumb-item active" aria-current="page">{% trans "Search & Manage Expenses" %}</li>
                  </ol>
               </nav>
            </div>
            <div class="ms-auto">


          



               <div class="btn-group"> 
                  <a href="{% url 'ebilling:addExpense' %}" class="btn btn-light mb-3 mb-lg-0" > <i class="bx bxs-plus-square"></i>{% trans "New Expense" %}</a>
               </div>
            </div>
         </div>
         <!--end breadcrumb-->


         <h6 class="mb-0 text-uppercase">{% trans "Latest Expenses" %}</h6>
         <hr />
      

         <div class="card">
            <div class="card-body">
               <form action="." method="post">
                  {% csrf_token %}
               <div class="d-lg-flex align-items-center mb-4 gap-3">
                  <div class="position-relative">
                     <input type="text" class="form-control ps-5 radius-30" placeholder="Search by type/paidby/paidto"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                  </div>
                 <div class="ms-auto"><a href="javascript:;" class="btn btn-light radius-30 mt-2 mt-lg-0"><i class="bx bxs-search"></i>{% trans "Search Expense" %}</a></div>
               </div>
            </form>
               <div class="table-responsive">
                  <table class="table mb-0">
                     <thead class="table-dark">
                        <tr>
                           <th>{% trans "S.No." %}</th>
                           <th>{% trans "Date" %}</th>
                           <th>{% trans "Type" %}</th>
                           <th>{% trans "Amount" %}</th>
                           <th>{% trans "Paid To" %}</th>
                        
                           <th>{% trans "Pay Mode" %}</th>
                           <th>{% trans "Pay Ref. No." %}</th>
                           <th>{% trans "Paid By" %}</th>
                          
                           <th>{% trans "Actions" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for c in expenses %}
                        <tr>
                           <td>
                              <div class="d-flex align-items-center">
                                 <!-- <div>
                                    <input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
                                 </div> -->
                                 <div class="ms-2">
                                    <h6 class="mb-0 font-14">#{{c.id}}</h6>
                                 </div>
                              </div>
                           </td>
                           <td>{{c.date}}</td>
                           <td>{{c.expense_type.name}}</td>
                           <td>{{c.amount}}</td>
                           <td>{{c.paid_to}}</td>
                           <td>{{c.pay_mode}}</td>
                           <td>{{c.pay_ref_no}}</td>
                           <td>{{c.paid_by}}</td>
                          
                           <td>
                              <div class="d-flex order-actions">

                                
                                 <a href="{% url 'ebilling:updateExpense' c.id %}" class=""><i class="bx bxs-edit"></i></a>
                                 <a href="{% url 'ebilling:deleteExpense' c.id %}" class="ms-3"><i class="bx bxs-trash"></i></a>
                          
                             
                              </div>
                           </td>
                        </tr>
                      
                      {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>


      </div>
   </div>
   <!--end page wrapper -->
   <!--start overlay-->
   <div class="overlay toggle-icon"></div>
   <!--end overlay-->
   <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
   <!--End Back To Top Button-->
   {% include "ebilling/Footer.html" %}
</div>
<!--end wrapper-->
<!--start switcher-->
{% include "ebilling/Switcher.html" %}
<!--end switcher-->
<!-- Bootstrap JS -->


{% endblock content %}