{% extends "ebilling/base.html" %}
{% load i18n %}
{% block title %} {% trans "G-Billing" %} | {% trans "Update Client" %} {% endblock title %}
{% block content %}



<!--wrapper-->
<div class="wrapper">
   <!--sidebar wrapper -->
   {% include "ebilling/Sidebar.html" %}
   <!--end sidebar wrapper -->
   <!--start header -->
   {% include "ebilling/Header.html" %}
   <!--end header -->
   <!--start page wrapper -->
   <div class="page-wrapper">
      <div class="page-content">

		<!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
         <div class="breadcrumb-title pe-3">{% trans "Home" %}</div>
         <div class="ps-3">
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">{% trans "Update Client" %}</li>
               </ol>
            </nav>
         </div>
 
      </div>
      <!--end breadcrumb-->

   
      <div class="card border-top border-0 border-4 border-white">
        <div class="card-body p-5">
            <div class="card-title d-flex align-items-center">
                <div><i class="bx bxs-user me-1 font-22 text-white"></i>
                </div>
                <h5 class="mb-0 text-white">{% trans "Update Client Details" %}</h5>
            </div>
            <hr>
            <form class="row g-3" method="post" action="{% url 'ebilling:updateClient' client.id %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputFirstName" class="form-label">{% trans "Full Name" %}</label>
                    <input type="text" class="form-control" value="{{client.fullname}}"  name="fullname" required placeholder="{% trans "Enter name" %}..." id="inputFirstName">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">{% trans "Email" %}</label>
                    <input type="email"  name="email"  value="{{client.email}}"  placeholder="{% trans "Enter email" %}..." class="form-control" id="inputEmail">
                </div>
                <div class="col-md-6">
                    <label for="inputLastName" class="form-label">{% trans "PAN Number" %}</label>
                    <input type="number" name="pan_no"  value="{{client.pan_no}}" placeholder="{% trans "Enter PAN no" %}..." class="form-control" id="inputLastName">
                </div>
                
                <div class="col-md-6">
                    <label for="inputPassword" class="form-label">{% trans "VAT No" %}.</label>
                    <input type="number" name="vat_no" value="{{client.vat}}" placeholder="{% trans "Enter VAT no" %}..." class="form-control" id="inputPassword">
                </div>

                        
                <div class="col-md-6">
                    <label for="inputPassword" class="form-label">{% trans "Mobile No" %}.</label>
                    <input type="number" name="mobile"  value="{{client.mobile}}"  required placeholder="{% trans "Enter mobile no" %}..." class="form-control" id="inputPassword">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword" class="form-label">{% trans "Phone No" %}.</label>
                    <input type="number" name="phone"  value="{{client.phone}}" placeholder="{% trans "Enter phone no" %}..." class="form-control" id="inputPassword">
                </div>


                <div class="col-md-4">
                    <label for="inputState" class="form-label">{% trans "Account Type" %}</label>
                    <select id="inputState" name="account_type" class="form-select">
                        <option value="Credit"  {% if client.account_type == "Credit" %} selected {% endif %} >{% trans "Credit(Cr.)" %}</option>
                                            <option value="Debit" {% if client.account_type == "Debit" %} selected {% endif %} >{% trans "Debit(Dr.)" %}</option>

                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">{% trans "Identity Document Type" %}</label>
                    <select id="inputState" name="identity_doc" class="form-select">
                        <option value="None" {% if client.identity_doc == "None" %} selected {% endif %} >{% trans "N/A" %}</option>
                        <option value="Citizenship" {% if client.identity_doc == "Citizenship" %} selected {% endif %}>{% trans "Citizenship Card" %}</option>
                        <option value="Driving License" {% if client.identity_doc == "Driving License" %} selected {% endif %}> {% trans "Driving License" %}</option>
                        <option value="Pan Card" {% if client.identity_doc == "Pan Card" %} selected {% endif %}>PAN Card</option>
                        <option value="Passport" {% if client.identity_doc == "Passport" %} selected {% endif %}>{% trans "Passport" %}</option>
                        <option value="Voter ID" {% if client.identity_doc == "Voter ID" %} selected {% endif %} >{% trans "Voter ID" %}</option>
                        
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">{% trans "Document No" %}</label>
                    <input type="text" class="form-control"  value="{{client.document_no}}"  name="document_no" placeholder="{% trans "Enter doument no" %}..." id="inputZip">
                </div>
         



                <div class="col-md-4">
                    <label for="inputZip" class="form-label">{% trans "Opening Balance" %}</label>
                    <input type="number" class="form-control" value="{{client.opening_balance}}" name="opening_balance"  placeholder="{% trans "Rs" %}.." id="inputZip">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">{% trans "Credit Allowed" %}</label>
                    <select id="inputState" name="credit_allowed" class="form-select">
                        <option value="False" {% if client.credit_allowed == "False" %} selected {% endif %} >{% trans "No" %}</option>
                        <option value="True" {% if client.credit_allowed == "True" %} selected {% endif %}>{% trans "Yes" %}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">{% trans "Credit Limit" %}</label>
                    <input type="number" name="credit_limit" value="{{client.credit_limit}}" placeholder="{% trans "Rs" %}.."  class="form-control" id="inputZip">
                </div>







                <div class="col-md-3">
                    <label for="inputFirstName" class="form-label">{% trans "City" %}</label>
                    <input type="text" class="form-control"  value="{{client.city}}" name="city" required placeholder="{% trans "Enter city" %}..." id="inputFirstName">
                </div>

                <div class="col-md-2">
                    <label for="inputFirstName" class="form-label">{% trans "District" %}</label>
                    <input type="text" class="form-control" value="{{client.district}}" name="district" required placeholder="{% trans "Enter district" %}..." id="inputFirstName">
                </div>

                <div class="col-md-3">
                    <label for="inputFirstName" class="form-label">{% trans "Province" %}</label>
                    <input type="text" class="form-control"  value="{{client.province}}"  name="province" required placeholder="{% trans "Enter province" %}..." id="inputFirstName">
                </div>
                
                <div class="col-md-2">
                    <label for="inputFirstName" class="form-label">{% trans "Zip Code" %}</label>
                    <input type="number" class="form-control" value="{{client.pincode}}"   name="pincode"  placeholder="{% trans "Enter pincode" %}..." id="inputFirstName">
                </div>
                <div class="col-md-2">
                    <label for="inputFirstName" class="form-label">{% trans "Country" %}</label>
                    <input type="text" disabled class="form-control" value="{% trans "Nepal" %}"  id="inputFirstName">
                </div>

                <div class="col-6">
                    <label for="inputAddress" class="form-label">{% trans "Billing Address" %}</label>
                    <textarea class="form-control" id="inputAddress" name="billing_address" required placeholder="{% trans "Billing Address" %}..." rows="3"> {{client.billing_address}}</textarea>
                </div>


                <div class="col-6">
                    <label for="inputAddress2" class="form-label">{% trans "Remark/Note" %}</label>
                    <textarea class="form-control" id="inputAddress2" name="remark"    placeholder="{% trans "Billing address" %}...." rows="3"> {{client.remark}} </textarea>
                </div>




                <div class="mb-3">
                    <label class="form-label">{% trans "Upload Client Profile Pic (150px X 150px)" %}</label>
                    <input type="file" name="profile_pic"  class="form-control">
                    <img src="/media/{{client.profile_pic}}" alt="client profile pic" width="200px" height="180px" >
                </div>



         
                <div class="col-12">
                    <button type="submit" class="btn btn-light px-5">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>



      </div>
   </div>
   <!--end page wrapper -->
   <!--start overlay-->
   <div class="overlay toggle-icon"></div>
   <!--end overlay-->
   <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
   <!--End Back To Top Button-->
   {% include "ebilling/Footer.html" %}
</div>
<!--end wrapper-->
<!--start switcher-->
{% include "ebilling/Switcher.html" %}
<!--end switcher-->
<!-- Bootstrap JS -->


{% endblock content %}