{% extends "ebilling/base.html" %}
{% load i18n %}
{% block title %} {% trans "G-Billing" %} | {% trans "User" %} {% endblock title %}
{% block content %}



<!--wrapper-->
<div class="wrapper">
   <!--sidebar wrapper -->
   {% include "ebilling/Sidebar.html" %}
   <!--end sidebar wrapper -->
   <!--start header -->
   {% include "ebilling/Header.html" %}
   <!--end header -->
   <!--start page wrapper -->
   <div class="page-wrapper">
      <div class="page-content">

         <!--breadcrumb-->
         <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">{% trans "Home" %}</div>
            <div class="ps-3">
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                     <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                     </li>
                     <li class="breadcrumb-item active" aria-current="page">{% trans "User" %}</li>
                  </ol>
               </nav>
            </div>



            <div class="ms-auto">


                <div class="btn-group">
                   <a href="{% url 'ebilling:user' %}?addUser=True" class="btn btn-light mb-3 mb-lg-0" > <i class="bx bxs-plus-square"></i>{% trans "Add User" %}</a>
                </div>
             </div>
           
         </div>
         <!--end breadcrumb-->


         <h6 class="mb-0 text-uppercase">{% trans "User List" %}</h6>
         <hr />
      

         <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                  
              {% if users %}
                  <table class="table mb-0">
                     <thead class="table-dark">
                        <tr>
                           <th>{% trans "ID" %}</th>
                           <th>{% trans "User Name" %}</th>
                           <th>{% trans "Email" %}</th>
                           <th>{% trans "Role" %}</th>
                           <th>{% trans "Last Login" %}</th>
                           <th>{% trans "Action" %}</th>
                        
                        </tr>
                     </thead>
                     <tbody>

                        {% for u in users %}
                        <tr>
                          
                            <td># {{u.id}}</td> 
                            <td style="color: yellow;">{{u.username}}</td>
                            <td>{{u.email}}</td>
                            {% if u.is_staff %}
                            <td>System Admin</td> 
                            {% else %}
                            <td>User</td> 
                            {% endif %}
                            <td>{{u.last_login}}</td> 
                            <td>

                              <div class="d-flex order-actions">

                                
                                 <a href="?updateUser={{u.id}}" class=""><i class="bx bxs-edit"></i></a>
                                 <a href="?removeUser={{u.id}}" class="ms-3"><i class="bx bxs-trash"></i></a>
                          
                             
                              </div>
                            </td> 
                           
                   
                           
                        </tr>
                      
                      {% endfor %}
                     </tbody>

                    
                  </table>
                  {% else %}
                  <h3 class="text-center">No User Found</h3>
                  {% endif %}

                  
                  
                 
               </div>

            



            </div>
         </div>


      </div>
   </div>
   <!--end page wrapper -->
   <!--start overlay-->
   <div class="overlay toggle-icon"></div>
   <!--end overlay-->
   <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
   <!--End Back To Top Button-->
   {% include "ebilling/Footer.html" %}
</div>
<!--end wrapper-->
<!--start switcher-->
{% include "ebilling/Switcher.html" %}
<!--end switcher-->
<!-- Bootstrap JS -->


{% endblock content %}