<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        .label {
                
             display: inline-block;
             width: 70%; 
             }
             
            
        </style>
</head>
<body>

    <table  border="1" width="80%" align="Center" >
        <tr><td colspan="7">
        
        <div align="center" style="font-size:1.7em; font-family:calibri;">
        <b style="margin-top: 10px;">
        GMC Traders Pvt Ltd</b>
        
        </div>
        <div align="center">
           Bardahawa-2, Kapilvastu
        
           </div>
           
           <div align="center" style="font-size:1.3em; font-family:calibri;">
          <b>Tax Invoice</b>
        
           </div>
           
           
        <div >
        
        <ul style="list-style-type:none; margin-left:-30px;">
            <li>
                <span class="label">Bill No  : 00-1-05 </span>
                Date : 2022-10-12 18:10PM
            </li>
            <li>
                <span class="label">Seller's PAN No  : <b>301003001</b></span>
                
            </li>
            <li>
                <span class="label">Purchaser's Name  : MANENDRA</span>
                
            </li>
             <li>
                <span class="label">Address  : Bangai</span>
                
                Contact : +977-9824493532
                
            </li>
             <li>
                <span class="label">Purchaser's PAN No  : <b>142569557</b></span>
                <b>Method of Payment</b> : Cash
                
            </li>
        </ul>
        </div>
        
        
        </td></tr>
        
          <tr>
            <th width=10%>SN</th>
            <th width=30%>Particulars</th>
            <th width=10%>Unit</th>
            <th width=10% >Qty.</th>
            <th width=10% >Rate</th>
            <th width=15%>Discount</th>
            <th width=15% >Amount</th>
          </tr>
          <tr height=300>
          <th></th>
            <th></th>
              <th></th>
                <th></th>
                  <th></th>
                    <th></th>
                    <th></th>
          </tr>
          <tr>
          <th colspan="3" rowspan="3" align="left" ><b>Remarks:</b> </th>
              <th colspan="3" >Sub Total</th>
                <th colspan="1">10000</th>
                
          </tr>
            <tr>
          
              <th colspan="3" > Vat 13%</th>
                <th colspan="1">545</th>
                
          </tr>
           <tr>
          
              <th colspan="3" > Grand Total</th>
                <th colspan="1">15466</th>
                
          </tr>
          <tr>
        <td colspan="7">
          <div>
        <b>In Words:</b> Three Hundred Rupees Only.
        </div>
        
        <br>
         <ul style="list-style-type:none; margin-left:-30px;">
            <li>
                <span style="display:inline-block;width:60%;"><b>Username:</b> Manendra </span>
                ...........................
                <b>Authorized Signature</b>
                
            </li>
            </ul>
        
          </td></tr>
        </table>
</body>
</html>